<div class="yui3-g">
<div id="articles" class="yui3-u-11-24">
  <h2><%= link_to 'Articles', articles_path %></h2>
  <% @articles.each do |a|  %>
  <div>
    <h3><%= link_to a.title, a %></h3>
    <div class="date"><%= a.date.to_s(:human) %></div>
    <p><%= a.content.humanize %></p>
  </div>
  <% end %>

</div>
<div id="tweets" class="yui3-u-11-24 float-right">
<% unless @tweets.empty? %>
  <h2><%= link_to 'Tweets', tweets_path %></h2>
<% end %>
<% @tweets.each do |t|  %>
  <div>
    <h3><%= link_to t.author, t.url %></h3>
    <div class="date"><%= t.date.to_s(:human) %></div>
    <p><%= t.content %></p>
  </div>
  <% end %>
</div>
</div>
<div class="yui3-g">

  <div id="events" class="yui3-u-11-24">
    <h2><%= link_to 'Events', events_path %></h2>
    <% @events.each do |e|  %>
    <div>
      <h3><%= link_to e.title, e %></h3>
      <div class="date"><%= e.date %></div>
      <p><%= e.description %></p>
    </div>
    <% end %>
  </div>
  <div class="yui3-u-11-24 float-right">
  </div>
</div>

<%= link_to "Articles and Events RSS", syndication_url(:format => 'rss') %>
