<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @alert.title %>
</p>

<p>
  <b>Date:</b>
  <%= @alert.date %>
</p>

<p>
  <b>Summary:</b>
  <%= @alert.summary %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
